#apitabs-tabs ul{
  list-style: none;
  border-bottom: 1px solid;
  margin-bottom: 2em;
}
#apitabs-tabs ul li{
  display: inline;
  margin: 0 4px;
}
#apitabs-tabs ul li button{
  width: 90px;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 8px 0;
  cursor: pointer;
}
#apitabs-tabs ul li button:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #fdfcfc;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#apitabs-tabs ul li button.active {
  background: rgba(0, 0, 0, 0.9);
  color: #fdfcfc;
  font-weight: 500;
}
